.seller-card-profile{
    height: 200px;
    width: 225px;
    background: #d9d9d9;
    padding: 12.5px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    font-size: 12px;

}
.img-container{
    height: 50px;
    width: 50px;
    border:0.5px solid white  ;
    border-radius: 50px;
}
.img-customer{
    display: flex;
    gap: 25px;
    align-items: center;
}
.seller-img{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin:-17px 0;    
}

