.seller-card-profile{
    height: 250px;
    width: 275px;
    background: #F7F7F9;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    border-radius: 10px 15px;
}
.img-container{
    flex: 1;
    height: 50px;
    width: 50px;
    border:0.5px solid white  ;
    border-radius: 50px;
}
.img-customer{
    display: flex;
    height: 50%;
    width: 100%;
}
.seller-img{
    height: 125px;
    width: 100%;
    object-fit: cover;
}

.cardInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sellerInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 30%;
    padding: 3%;
}

.customerData {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.ratingCount {
    display: flex;
    gap: 2px;
}

.view-shop {
    display: flex;
    width: 100%;
    justify-content: center;
}

.serviceText {
    background-color: white;
    padding: 2px 8px;
    border-radius: 50px;
}

.calatogText {
    background-color: black;
    color: white;
    text-align: center;
    width: 30%;
    padding: 2%;
    border-radius: 5%;
}