
.landingImage {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 300px;
  position: relative;
  max-width: 100%;
  margin-top: 1%;
}

.landingGif {
    max-height: 100px;
    width: 100%;
    object-fit: 'cover';
    height: auto;
  }
  @media only screen and (max-width:1024px){
    .landingGif{
      max-height: 50px;
    }
  }