
.nav-container {
    background: #f5f5f5;
    height: 80px; /* 100px on figma*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 50px;
}

.nav-list{
    display: flex;
    gap: 100px
}

.nav-hov-black:hover{
    border-bottom: 2px solid black;
}
.nav-search {
    display: flex;
    width: 300px;
    align-items: center;
    position: relative;
} 


.nav-search-input{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    padding: 8px 40px;
    cursor: text;
    border: none;
}
.cancel-search-container{
    position:absolute;
    right: 5px;
}
.menu-bar{
    display: none;
}
@media only screen and (max-width: 1024px) {

    .nav-item-group-1{
        background: #f5f5f5;
        width:100%;
        right: 0;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 80px;
        border-top:0.001px solid white;
        height: 100%;
        z-index: 5;
        padding: 20px;
      
     
        /* visibility: hidden; */
    }
    .nav-item-group-1 li{
        border-bottom:0.5px solid white;
    }
    .nav-list{
        gap: 25px;
    }
    .user-profile span{
        display: none;
        visibility: hidden;
    }
    .nav-search{
        display: none;
        position: relative;
    }
    .nav-container{
        justify-content: flex-end;
    }
    .menu-bar{
        display: inline;
    }
    .displ-none{
       display: none;
    }
   

    
}